<h2>Newest Comments</h2>

<a href="/comments/seed-data">TRYCK HÄR FÖR ATT LÄGGA TILL NY TESTKOMMENTAR</a>

{{#each comments}}
    <div class="comments-border-test">
        <p><a href="/comments/{{_id}}">Post ID: {{_id}}</a></p>
        <p>Comment on <a href="/posts/read-post/{{postId}}">{{postId}}</a></p>
        <p>Posted by {{author}}</p>
        <p>{{description}}</p>
        <p>{{formateDate time}}</p>
        {{#if likes}}
        <p>Likes: {{likes.length}}</p>
        {{else}}
        <p>Likes: 0</p>
        {{/if}}

    </div>
{{/each}}