<h2>Newest Comments</h2>

<a href="/comments/seed-data">TRYCK HÄR FÖR ATT LÄGGA TILL NY TESTKOMMENTAR</a>

{{#each comments}}
    <div class="comments-border-test">
        <p><a href="/comments/{{_id}}">Post ID: {{_id}}</a></p>
        <p>Comment on <a href="/posts/{{postId}}">{{postId}}</a></p>
        <h5>{{description}}</h5>
        <p>{{time}}</p>
        <p>{{likes}}</p>
    </div>
{{/each}}