<a href="/logout">Log out</a>
<h3>{{_id}}</h3>

<div class="comments-border-test">
  <p><a href="/posts/read-post/{{postId}}">Commeted on: {{_id}}</a></p>
  <p>{{description}}</p>
  <p>{{formateDate time}}</p>
  <p>Likes: {{likes}}</p>
</div>