<h2 id="postsheading">posts:</h2>
<div class="postcontainer">
{{#each articles}}

    <article>
        <h3>{{title}}</h3>
       <div class="post-bildcontainer"> <img class="post-bild" src="{{imgUrl}}"></div>

       <div class="post-read-section">
        <p class = "post-date">{{formateDate time}}</p>
        <p><a href="/posts/read-post/{{_id}}">read post</a></p>

        <a href="/posts/new-post">new post</a>
        </div>
        
        {{#if comments}}
        {{#each comments}}
        <div class="comment-container">
            <p>{{description}}</p>
            <p>{{formateDate time}}</p>
        </div>
        {{/each}}
        {{/if}}
        <form action="/posts/{{_id}}/comment" method="post" class="post-comment">
            <textarea name="comment" id="" cols="30" rows="10" required></textarea>
            <input type='submit' value="Post comment" class="commentbtn">
        </form>
    </article>
{{/each}}
</div>
