<div class="loggedinlogocontainer">

  <img
    class="travelstories-logo-loggedin"
    src="/images/TravelStories-logga-ingen-slogan.png"
    alt="TravelStories logo"
  />

  <button class="logoutbtn"><a href="/logout">Log out</a></button>
</div>

<div class="loggedinascontainer">
  <div class="usercontainer">
    <div class="traveltext">Traveler logged in </div>
    <div class="profillink">
      <a class="profillink" href="/profil/{{_id}}">
        {{fullName}}
        {{loginInfo}}</a>
    </div>
  </div>

  <button class="createpostbtn"><a href="/posts/new-post">Create post</a></button>
</div>
<div class="onlytextalign poststext">All travel stories</div>
<div class="postflowcontainer">
  {{#each articles}}

    <article class="postcontainer">
      <div class="postcountry">{{country}}</div>
      <div class="post-bildcontainer">
        <img class="post-bild" src="{{imgUrl}}" />
      </div>
      <div class="underpostimg">
        <span class="postedby">By {{author}}</span>
        {{!-- <span class="post-date">{{formateDate}}</span> --}}
        <div class="titlecontainer">
          <a href="/posts/read-post/{{_id}}">{{title}}</a>
        </div>
        {{#if likes}}
          <a href="/{{_id}}/like"><p class="postcardgenerel likes">Likes:
              {{likes.length}}</p></a>
        {{else}}
          <a href="/comments/{{_id}}"><p class="postcardgenerel likes">Likes: 0</p></a>
        {{/if}}
      </div>
    </article>
  {{/each}}
</div>
{{!-- {{#if comments}}
        {{#each comments}}
          <div class="comment-container">
            <p>{{description}}</p>
            <p>{{formateDate time}}</p>
          </div>
        {{/each}}

      {{/if}} --}}
{{!-- <form action="/posts/{{_id}}/comment" method="post">
        <textarea name="comment" id="" cols="30" rows="10" required></textarea>
        <input type="submit" value="Post comment" />
      </form> --}}
{{!-- {{#if likes}}
        <p>Likes: {{likes.length}}</p>
      {{else}}
        <p>Likes: 0</p>
      {{/if}} --}}