<div class="loggedinlogocontainer">

  <a href="/"><img
      class="travelstories-logo-loggedin"
      src="/images/TravelStories-logga-ingen-slogan.png"
      alt="TravelStories logo"
    />
  </a>

  <a href="/logout"><button class="logoutbtn">Log out</button></a>
</div>

<div class="loggedinascontainer">
  <div class="usercontainer">
    <div class="traveltext">Traveler logged in </div>
    <div class="profillink">
      <a class="profillink" href="/profil/{{_id}}">
        {{fullName}}
        {{loginInfo}}</a>
    </div>
  </div>

  <button class="createpostbtn"><a href="/posts/new-post">Create post</a></button>
</div>

<div class="onlytextalign poststextprofil">My travel stories</div>
<div class="postflowcontainer">
  {{#each articles}}

    <article class="postcontainer">
      <div class="postcountry">{{country}}</div>
      <div class="post-bildcontainer">
        <img class="post-bild" src="{{imgUrl}}" />
      </div>
      <div class="underpostimg">
        <a class="postedby" href="/posts/{{_id}}/edit">Edit post ✎</a>
        {{!-- <span class="post-date">{{formateDate}}</span> --}}
        <div class="titlecontainer">
          <a href="/posts/read-post/{{_id}}">{{title}}</a>
        </div>
        {{#if likes}}
          <a href="/{{_id}}/like"><p class="postcardgenerel likes">Likes:
              {{likes.length}}</p></a>
        {{else}}
          <a href="/comments/{{_id}}"><p class="postcardgenerel likes">Likes: 0</p></a>
        {{/if}}
      </div>
    </article>
  {{/each}}
</div>